/************** fonts ***************/
/*
font-family: 'Montserrat', sans-serif;

*/

body {
    background-color: rgb(237, 163, 163);
    display: flex;
    flex-direction: column;

}

body>h1 {
    margin: auto;
    font-size: 80px;
    color: rgb(62, 62, 62);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: .1em;

}

.flower-power {
    height: 300px;
    width: 300px;
    border: 1in solid rgb(170, 79, 95);

}

.circle:nth-child(1) {
    float: left;
    color: aqua;
}

.circle:nth-child(2) {
    float: right;
    color: aqua;
}

#meme-container {

    width: 250px;
    height: 100%;
    margin: auto;

}

.play-table {
    background-color: hsl(140, 50%, 50%);
}